# Dependencies
node_modules/

# Production build output
dist/

# Local environment variables / secrets
.env
*.local

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System files
.DS_Store
Thumbs.db